body {
    font-family: Arial, sans-serif; /* Установка шрифта для всей страницы */
    margin: 0;
    display: flex;
    flex-direction: column; /* Структурирование содержимого в столбик */
    justify-content: center; /* Центрирование содержимого по вертикали */
    align-items: center; /* Центрирование содержимого по горизонтали */
    height: 100vh; /* Высота всего видимого экрана */
  }
  .chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 600px; /* Увеличенный размер доски */
    height: 600px;
    margin: 60px auto; /* Выравнивание по центру */
  }
  .chessboard > div {
    width: 75px; /* Увеличенный размер клетки */
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chessboard > div:hover  {
    background-color: #333333;
}


  .black {
    background-color: #769656;
  }
  .white {
    background-color: #eeeed2;
  }
  .chesspiece {
  cursor: pointer;
  width: 90%; /* Задаем ширину изображения равной ширине клетки */
  height: 90%; /* Высота будет рассчитываться автоматически */
  object-fit: contain; /* Убеждаемся, что изображение сохранит свои пропорции */

}
.chesspiece {
    transition: transform 0.4s ease; /* Анимация изменения размера */
}

.chesspiece:hover {
    transform: scale(0.8); /* Уменьшение размера при наведении */
}



  /* Стилизация фигур может быть добавлена сюда */
    .game-info {
  width: 400px; /* ширина окна информации */
  height: 700px; /* высота окна информации */
  position: absolute;/* фиксированное позиционирование относительно окна браузера */
  bottom: 10px; /* отступ снизу */
  right: 30px; /* отступ справа */
  background-color: #333; /* цвет фона окна информации */
  color: #fff; /* цвет текста */
  padding: 10px; /* внутренние отступы вокруг содержимого */
  border-radius: 5px; /* скругление углов */
  display: flex; /* использование flexbox для внутреннего содержимого */
  align-items: center; /* центрирование содержимого по вертикали */
  justify-content: space-between; /* распределение содержимого по горизонтали */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* тень для окна */
}
.game-info .story {
  width: 400px; /* ширина окна информации */
  height: 300px; /* высота окна информации */
  background-color: #333; /* цвет фона окна информации */
  color: #fff; /* цвет текста */
  padding: 10px; /* внутренние отступы вокруг содержимого */
  border-radius: 5px; /* скругление углов */
  align-items: center; /* центрирование содержимого по вертикали */
  justify-content: space-between; /* распределение содержимого по горизонтали */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* тень для окна */
  overflow-y: auto;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
  .user-info-bottom {
  width: 580px; /* ширина окна информации */
  height: 40px; /* высота окна информации */
  position: absolute;/* фиксированное позиционирование относительно окна браузера */
  bottom: 5px; /* отступ снизу */
  right: 0 px; /* отступ справа */
  background-color: #333; /* цвет фона окна информации */
  color: #fff; /* цвет текста */
  padding: 10px; /* внутренние отступы вокруг содержимого */
  border-radius: 5px; /* скругление углов */
  display: flex; /* использование flexbox для внутреннего содержимого */
  align-items: center; /* центрирование содержимого по вертикали */
  justify-content: space-between; /* распределение содержимого по горизонтали */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* тень для окна */
}

.user-info-top {
  width: 580px; /* ширина окна информации */
  height: 40px; /* высота окна информации */
  position: absolute;/* фиксированное позиционирование относительно окна браузера */
  top: 5px; /* отступ снизу */
  right: 0 px; /* отступ справа */
  background-color: #333; /* цвет фона окна информации */
  color: #fff; /* цвет текста */
  padding: 10px; /* внутренние отступы вокруг содержимого */
  border-radius: 5px; /* скругление углов */
  display: flex; /* использование flexbox для внутреннего содержимого */
  align-items: center; /* центрирование содержимого по вертикали */
  justify-content: space-between; /* распределение содержимого по горизонтали */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* тень для окна */
}
.user-info-top img{
  width: 40px; /* ширина окна информации */
  height: 40px; /* высота окна информации */

}
.game-panel {
  width: 430px; /* ширина окна информации */
  height: 100%; /* высота окна информации */
  position: absolute;/* фиксированное позиционирование относительно окна браузера */
  bottom: 0px; /* отступ снизу */
  left: 0px; /* отступ справа */
  background-color: #333; /* цвет фона окна информации */
  color: #fff; /* цвет текста */
  padding: 10px; /* внутренние отступы вокруг содержимого */
  border-radius: 5px; /* скругление углов */
  display: flex; /* использование flexbox для внутреннего содержимого */
  align-items: center; /* центрирование содержимого по вертикали */
  justify-content: space-between; /* распределение содержимого по горизонтали */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* тень для окна */
}
.game-panel img {
  width: 30px; /* размер изображения пользователя */
  height: 50px; /* размер изображения пользователя */
  border-radius: 50%; /* делаем изображение круглым */
  bottom: 100px; /* отступ снизу */
}
.user-info img {
  width: 30px; /* размер изображения пользователя */
  height: 30px; /* размер изображения пользователя */
  border-radius: 50%; /* делаем изображение круглым */
}
.user-info .user-details {
  margin-left: 10px; /* отступ слева для текста */
}
.user-info .user-time {
  font-size: 0.9em; /* размер шрифта для времени */
}

.move-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd; /* Горизонтальная линия под каждым ходом */
  margin-bottom: 10px; /* Добавляем отступ снизу для каждой строки */
}

.move-row:last-child {
  border-bottom: none; /* Убираем линию у последнего хода */
  margin-bottom: 0; /* Убираем отступ у последней строки */
}

.move-number {
  width: 50px;
  text-align: right;
  padding-right: 30px;
  color: #777;
  border-left: 2px solid #ddd; /* Вертикальная линия справа от номера хода */

}

.move {
  min-width: 50px;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.move.white {
  color: #000;
}

.move.black {
  color: #fff;
  background-color: #000;
}

/* Наведение мыши на ход */
.move:hover {
  background-color: #f0f0f0;
}

/* Цвет фона для ходов белых, если требуется */
.move.white:hover {
  background-color: #eee;
}

/* Цвет фона для ходов черных, если требуется */
.move.black:hover {
  background-color: #222;
}
.move-separator {
  width: 1px;
  background-color: #ddd; /* Цвет вертикальной линии */
  margin: 0 5px; /* Отступы по бокам */
  height: 20px; /* Высота линии */
}
/* Стилизация скроллера для всех элементов */
::-webkit-scrollbar {
    width: 12px; /* ширина скроллера */
}

/* Стилизация трека (дорожки) скроллера */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* цвет фона трека */
    border-radius: 6px;
}

/* Стилизация ползунка скроллера */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
    background: #888; /* цвет ползунка */
}

/* Стилизация ползунка скроллера при наведении */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* цвет ползунка при наведении */
}
.modal {
  display: none; /* Скрыть модальное окно по умолчанию */
  position: fixed; /* Остаётся на месте при прокрутке страницы */
  z-index: 1000; /* Ставим перед другими элементами */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку, если нужно */
  background: rgba(0,0,0,0.4); /* Чёрный фон с непрозрачностью */
  border-radius: 10px;
}

.modal-content {
  background-color: #769656;
  margin: 15% auto; /* 15% от верха и по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 15%; /* Можно настроить ширину */
  border-radius: 20px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal_2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal_2-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
}

.promotion-options button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
}

