body {
    font-family: Arial, sans-serif; /* Установка шрифта для всей страницы */
    margin: 0;
    display: flex;
    flex-direction: column; /* Структурирование содержимого в столбик */
    justify-content: center; /* Центрирование содержимого по вертикали */
    align-items: center; /* Центрирование содержимого по горизонтали */
    height: 100vh; /* Высота всего видимого экрана */
  }
  .chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 600px; /* Увеличенный размер доски */
    height: 600px;
    margin: 60px auto; /* Выравнивание по центру */
  }
  .chessboard > div {
    width: 75px; /* Увеличенный размер клетки */
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chessboard > div:hover  {
    background-color: #333333;
}


  .black {
    background-color: #769656;
  }
  .white {
    background-color: #eeeed2;
  }
  .chesspiece {
  cursor: pointer;
  width: 90%; /* Задаем ширину изображения равной ширине клетки */
  height: 90%; /* Высота будет рассчитываться автоматически */
  object-fit: contain; /* Убеждаемся, что изображение сохранит свои пропорции */

}
.chesspiece {
    transition: transform 0.4s ease; /* Анимация изменения размера */
}

.chesspiece:hover {
    transform: scale(0.8); /* Уменьшение размера при наведении */
}



  /* Стилизация фигур может быть добавлена сюда */
    .game-info {
  width: 400px; /* ширина окна информации */
  height: 700px; /* высота окна информации */
  position: absolute;/* фиксированное позиционирование относительно окна браузера */
  bottom: 10px; /* отступ снизу */
  right: 30px; /* отступ справа */
  background-color: #333; /* цвет фона окна информации */
  color: #fff; /* цвет текста */
  padding: 10px; /* внутренние отступы вокруг содержимого */
  border-radius: 5px; /* скругление углов */
  display: flex; /* использование flexbox для внутреннего содержимого */
  align-items: center; /* центрирование содержимого по вертикали */
  justify-content: space-between; /* распределение содержимого по горизонтали */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* тень для окна */
}
.game-info .story {
  width: 400px; /* ширина окна информации */
  height: 300px; /* высота окна информации */
  background-color: #333; /* цвет фона окна информации */
  color: #fff; /* цвет текста */
  padding: 10px; /* внутренние отступы вокруг содержимого */
  border-radius: 5px; /* скругление углов */
  align-items: center; /* центрирование содержимого по вертикали */
  justify-content: space-between; /* распределение содержимого по горизонтали */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* тень для окна */
}
  .user-info-bottom {
  width: 580px; /* ширина окна информации */
  height: 40px; /* высота окна информации */
  position: absolute;/* фиксированное позиционирование относительно окна браузера */
  bottom: 5px; /* отступ снизу */
  right: 0 px; /* отступ справа */
  background-color: #333; /* цвет фона окна информации */
  color: #fff; /* цвет текста */
  padding: 10px; /* внутренние отступы вокруг содержимого */
  border-radius: 5px; /* скругление углов */
  display: flex; /* использование flexbox для внутреннего содержимого */
  align-items: center; /* центрирование содержимого по вертикали */
  justify-content: space-between; /* распределение содержимого по горизонтали */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* тень для окна */
}

.user-info-top {
  width: 580px; /* ширина окна информации */
  height: 40px; /* высота окна информации */
  position: absolute;/* фиксированное позиционирование относительно окна браузера */
  top: 5px; /* отступ снизу */
  right: 0 px; /* отступ справа */
  background-color: #333; /* цвет фона окна информации */
  color: #fff; /* цвет текста */
  padding: 10px; /* внутренние отступы вокруг содержимого */
  border-radius: 5px; /* скругление углов */
  display: flex; /* использование flexbox для внутреннего содержимого */
  align-items: center; /* центрирование содержимого по вертикали */
  justify-content: space-between; /* распределение содержимого по горизонтали */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* тень для окна */
}
.user-info-top img{
  width: 40px; /* ширина окна информации */
  height: 40px; /* высота окна информации */

}
.game-panel {
  width: 430px; /* ширина окна информации */
  height: 100%; /* высота окна информации */
  position: absolute;/* фиксированное позиционирование относительно окна браузера */
  bottom: 0px; /* отступ снизу */
  left: 0px; /* отступ справа */
  background-color: #333; /* цвет фона окна информации */
  color: #fff; /* цвет текста */
  padding: 10px; /* внутренние отступы вокруг содержимого */
  border-radius: 5px; /* скругление углов */
  display: flex; /* использование flexbox для внутреннего содержимого */
  align-items: center; /* центрирование содержимого по вертикали */
  justify-content: space-between; /* распределение содержимого по горизонтали */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* тень для окна */
}
.game-panel img {
  width: 30px; /* размер изображения пользователя */
  height: 50px; /* размер изображения пользователя */
  border-radius: 50%; /* делаем изображение круглым */
  bottom: 100px; /* отступ снизу */
}
.user-info img {
  width: 30px; /* размер изображения пользователя */
  height: 30px; /* размер изображения пользователя */
  border-radius: 50%; /* делаем изображение круглым */
}
.user-info .user-details {
  margin-left: 10px; /* отступ слева для текста */
}
.user-info .user-time {
  font-size: 0.9em; /* размер шрифта для времени */
}