body {
  background-color: #f0f0f0; /* Изменяем цвет фона */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  position: relative;
  display: flex; /* Добавляем flex для центрирования содержимого */
  justify-content: center; /* Центрирование содержимого по горизонтали */
  align-items: center; /* Центрирование содержимого по вертикали */
  width: 100%;
  max-width: 100%; /* Адаптируем под нужный размер, например, 600px */
  height: 100%; /* Высота контейнера под размер изображения */
}
.container .buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  margin-top: 20px; /* Небольшой отступ сверху */

}
.button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50; /* Изменяем цвет кнопок */
  color: white; /* Изменяем цвет текста кнопок */
  border: none; /* Убираем границу кнопок */
  border-radius: 5px; /* Добавляем скругленные углы кнопок */
  transition: transform 0.3s; /* Плавная анимация при наведении */
  text-decoration: none; /* Убираем стандартное подчеркивание для ссылок */
}
.button:hover {
  transform: scale(0.9); /* Уменьшаем размер кнопки при наведении */
}
