<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шахматная доска</title>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">

  </head>
<body>
<div class="game-info">
  <div class="story"></div>
</div>
<div  class="game-panel">
<!--    <img src="" alt="User Image"> &lt;!&ndash; Путь к изображению пользователя &ndash;&gt;-->
</div>efsf
<div class="user-info-top">
<!--  <img src="" alt="User Image"> &lt;!&ndash; Путь к изображению пользователя &ndash;&gt;-->
  <div class="user-details">
    <div class="user-name">Guest9540135630</div>
    <div class="user-status">Online</div>
  </div>
  <div class="user-time">9:56</div>
</div>
<div id="chessboard" class="chessboard"></div>

<div class="user-info-bottom">
<!--  <img src="" alt="User Image"> &lt;!&ndash; Путь к изображению пользователя &ndash;&gt;-->
  <div class="user-details">
    <div class="user-name">Guest9540135630</div>
    <div class="user-status">Online</div>
  </div>
  <div class="user-time">9:56</div>
</div>>
<div id="checkmateModal" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h2 id="modalTitle">Шах и мат!</h2>
    <p id="modalText">Игра окончена.</p>
  </div>
</div>
<!-- Модальное окно для выбора фигуры -->
<div id="promotionModal" class="modal_2">
  <div class="modal-content">
    <h2>Выберите фигуру для замены пешки</h2>
    <div class="promotion-options">
      <button class="promotion-choice" data-piece="q">Ферзь</button>
      <button class="promotion-choice" data-piece="r">Ладья</button>
      <button class="promotion-choice" data-piece="b">Слон</button>
      <button class="promotion-choice" data-piece="k">Конь</button>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.1/draggable.bundle.umd.min.js"></script>

<script src="{% static 'js/game.js' %}"></script>

</body>
</html>
