<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила шахмат</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f2f2f2; /* Новый серый цвет фона */
        }
        h1 {
            text-align: center;
        }
        h2 {
            margin-top: 20px;
        }
        p {
            margin-bottom: 10px;
        }
        ol {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <h1>Правила шахмат</h1>

    <h2>1. Расстановка фигур</h2>
    <p>Игровая доска 8x8 клеток. В начале игры на доске стоят 16 белых и 16 черных фигур.</p>
    <p>Расстановка фигур на доске представлена в следующем порядке:</p>
    <ol>
        <li>Верхний ряд - ладья, конь, слон, ферзь, король, слон, конь, ладья</li>
        <li>Второй ряд - восьмая пешка (все пешки стоят на втором ряду)</li>
    </ol>

    <h2>2. Цель игры</h2>
    <p>Цель игры - поставить мат королю противника. Мат - это ситуация, когда король под атакой, и его нельзя защитить или уйти от угрозы.</p>

    <h2>3. Ходы фигур</h2>
    <p>Описание возможных ходов каждой фигуры:</p>
    <ul>
        <li>Пешка</li>
        <img class="header-image" src="static/figures/ход_пешки.png" >
        <li>Ладья</li>
        <img class="header-image" src="static/figures/ход_ладьи.png" >
        <li>Конь</li>
        <img class="header-image" src="static/figures/ход_коня.png" >
        <li>Слон</li>
        <img class="header-image" src="static/figures/ход_слона.png" >
        <li>Ферзь</li>
        <img class="header-image" src="static/figures/ход_ферзя.png" >
        <li>Король</li>
         <img class="header-image" src="static/figures/ход_короля.png" >
    </ul>

    <h2>4. Взятие фигур</h2>
    <p>Взятие фигур происходит, когда одна фигура перемещается на клетку, занятую фигурой противника. Фигура противника считается взятой и удаляется с доски.</p>

    <h2>5. Рокировка</h2>
    <p>Рокировка - это особый ход, во время которого король и ладья перемещаются вместе. Она выполняется по определенным правилам и позволяет защитить короля и активизировать ладью.</p>

    <h2>6. Ничья</h2>
    <p>Игра заканчивается ничьей, когда наступает одно из следующих условий:</p>
    <ul>
        <li>Пат</li>
        <li>Недостаточно фигур для матирования</li>
        <li>Троекратное повторение одной и той же позиции на доске</li>
        <li>Объявление ничьей одним из игроков</li>
    </ul>
</body>
</html>
